## Core latex/pdflatex auxiliary files:
*.aux
*.bbl
*.log
*.blg
*.synctex.gz
*.toc
*.snm
*.out
*.nav
*.fdb_latexmk


/Music and Mathematics/slides/*.pdf
/Music and Mathematics/final/*.jpg
/Music and Mathematics/final/reading/*.png
/Algorithm Design and Analysis/Project/*
/General Biology (A)/museum/*
/General Biology (A)/summary/*.pdf
/History/
/Introduction to Data Science/final_proj/


*.exe
